body {
    border: 0px;
    margin: 0px;
  }
  
  .header{
    background-color: #004577;
  }

  .footer{
    background-color: #FFCD29;
    margin-top: 100px;
  }
  
  .footer-texto{
    text-align: center;
    font-size: 50px;
    padding: 50px;
    margin: 0;
    font-weight: bolder;
  }