/*css index*/

body {
  border: 0px;
  margin: 0px;
}

.header {
  background-color: #004577;
}

.page-title {
  font-size: 80px;
  padding-top: 50px;
  font-weight: bold;
  color: #0e212e;
  margin-bottom: -50px;
}

.sub-title {
  font-size: 20px;
  font-weight: bold;
  color: #0e212e;
  margin-bottom: 0;
}

.paw-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

/*Botao-cabeçalho*/

.volta {
  background-color: #63a2cf;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.botao-cabecalho {
  margin: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.volta:hover {
  background-color: rgb(240, 248, 255);
  transition-duration: 0.3s;
}

.botao-cabecalho:hover {
  color: #0e212e;
  transition-duration: 0.1s;
}

/*Animação*/

.paw-image {
  width: auto;
  animation-name: s4a3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes s4a3 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.images-center {
  display: flex;
  justify-content: center;
}

/*Testo história*/
.conteudo-texto {
  font-size: 25px;
  text-align: center;
}

/*Rodapé*/
.footer {
  background-color: #ffcd29;
  border: #ffcd29 solid 15px;
  margin-top: 100px;
}

.footer-texto {
  text-align: center;
  font-size: 50px;
  padding: 50px;
  margin: 0;
  font-weight: bolder;
}

.cabecalho-2 {
  display: none;
}

/*tablet*/

@media only screen and (min-width: 900px) {
  .cabecalho-1 {
    display: none;
  }

  .cabecalho-2 {
    display: block;
  }
}

.destaque {
  font-weight: bold;
  color: white;
  background-color: rgb(33, 94, 148);
  padding: 0 5px;
}

.footer-left-text {
  border-right: solid rgba(0, 0, 0, 0.315) 2px;
}

.offcanvas-body {
  width: 100%;
}

.contentor-offcanvas {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.botao-offcanvas {
  background: none;
  border: none;
  font-size: 16px;
  padding: 15px;
}

.botao-1 {
  width: 100%;
  background-color: #004577;
  color: aliceblue;
  text-align: start;
}

.botao-2 {
  width: 100%;
  text-align: start;
}

/*css enigmas*/

.img-rotate {
  transform: rotate(15deg);
}

/*Tablet*/

.conteudo-tablet {
  display: none;
}

@media only screen and (min-width: 900px) {
  .conteudo-mobile {
    display: none;
  }

  .conteudo-tablet {
    display: block;
  }
}

.rainbow {
  width: 100%;
  height: 15px;
  background-repeat: repeat-x;
  background: linear-gradient(
    to right,
    #eb528d,
    #f78f2f,
    #f4c151,
    #75d850,
    #6284ff,
    #eb528d
  );
  animation: rainbow 10s linear infinite;
  background-size: 200% 100% !important;
  margin-top: -5px;
}
@keyframes rainbow {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 800% 0;
  }
}

.up_button {
  font-size: 35px;
  transform: rotate(270deg);
  color: #00000098;
  width: 100px;
  font-weight: bolder;
}

.btn_up {
  padding-top: 3rem;
  outline: none !important;
  align-self: center;
  justify-self: center;
}

a:focus,
a:active,
.btn_up:focus,
.btn_up:active,
.up_button:focus,
.up_button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

a:focus-visible,
.btn:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.imagem-categorias {
  border: solid 1px #0e212e4d;
  border-radius: 20px;
  height: 270px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 20px;
}

.imagem-categorias-2 {
  border: solid 1px #0e212e4d;
  border-radius: 20px;
  height: 270px;
}

.page-subtitle {
  font-size: 50px;
  padding-top: 50px;
  font-weight: bold;

  color: #0e212e;
  margin-bottom: 0;
}

.texto-enigmas {
  text-decoration: none;
  list-style: none;
  font-size: 23px;
  color: rgb(110, 108, 117);
  align-items: center;
  margin-right: 10px;
}

.contentor-texto-enigmas {
  display: flex;
}

.imagem-categorias-mobile {
  height: 230px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
  margin-bottom: -50px;
  justify-content: center;
  justify-self: center;
  margin-top: 50px;
}

.conteudo-mobile {
  display: grid;
  place-items: center; /* shorthand for justify-items and align-items */
  width: 100%;
}

.container-flex {
  display: relative;
}

.sign {
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(64, 38, 88);
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin-top: 620px;
  margin-left: 300px;
}
