body {
  border: 0px;
  margin: 0px;
}

.header{
  background-color: #004577;
}


.page-title{
  font-size: 60px;
  padding-top: 50px;
  font-weight: bold;
  color: #0e212e;
  margin-bottom: 0;
}

.sub-title{
  font-size: 20px;
  font-weight: bold;
  color: #0e212e;
  margin-bottom: 0;
}

.paw-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

/*Botao-cabeçalho*/

.volta{
  background-color: #63a2cf;
  width: fit-content;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
}

.botao-cabecalho{
  margin: 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: larger;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.volta:hover{
  background-color: rgb(240, 248, 255);
  transition-duration: 0.3s;
}

.botao-cabecalho:hover{
  color: #0e212e;
  transition-duration: 0.1s;
}

/*Animação*/

.paw-image {
  width: auto;
  animation-name: s4a3;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes s4a3 {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.images-center {
  display: flex;
  justify-content: center;
}

/*Testo história*/
.conteudo-texto{
  font-size: 25px;
  text-align: center;
}

/*Rodapé*/
.footer{
  background-color: #FFCD29;
  border: #FFCD29 solid 15px;
  margin-top: 100px;
}

.footer-texto{
  text-align: center;
  font-size: 50px;
  padding: 50px;
  margin: 0;
  font-weight: bolder;
}


.cabecalho-2{
    display: none;
}

/*tablet*/

@media only screen and (min-width: 900px){
  .cabecalho-1{
    display: none;
  }

  .cabecalho-2{
    display: block;
  }

}

.destaque {
  font-weight: bold;
  color: white;
  background-color: rgb(33, 94, 148);
  padding: 0 5px;
}

.footer-left-text{
  border-right: solid rgba(0, 0, 0, 0.315) 2px ;
}

.offcanvas-body{
  width: 100%;
}

.contentor-offcanvas{
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 50px;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.botao-offcanvas{
  background: none;
  border: none;
  font-size: 16px;
  padding: 15px;
}

.botao-1{
  width: 100%;
  background-color: #004577;
  color: aliceblue;
}
